@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* carousel */

#myCarousel {
  width: 100%;
  position: absolute;
  margin-top: -20px;
}

// .carousel {
//   position: absolute;
//   max-width: 100%;
//   margin-top: -20px;
//   min-height: 600px;
// }

.carousel-inner .item {
  width: 100%;
  min-height: 600px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ad1 {
  background: url("hero_BG_baby.jpg") no-repeat center center; 
}

.ad2 {
  background: url("hero_BG_backpack.jpg") no-repeat center center; 
}

.ad3 {
  background: url("hero_BG_incubator.jpg") no-repeat center center; 
}

.carousel-text {
  height: 600px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  .well-small {
    background-color:rgba(61,61,61,0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#993D3D3D, endColorstr=#993D3D3D);
    /* for IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#993D3D3D, endColorstr=#993D3D3D)";
    // opacity: 0.8;
    // filter:alpha(opacity=80); /* IE 8 and lower */
  }
  h1, h2 {
    color: white;
    text-align: left;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8), 0 -1px 1px rgba(0, 0, 0, 0.8);
    text-rendering: optimizelegibility;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 36pt;
  }
  h2 {
    font-size: 20pt;
  }
}

.hero-well .hero-form {
  width: 330px;
  font-size: 12pt;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
}

.test-select {
  height: 35px;
  width: 500px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars{
  margin-top: 10px;
}

.avatar {
  float: left;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.myavatar {
  float: left;
  margin-right: 10px;
  height: 80px;
  width: 80px;
}

.miniavatar {
  float: left;
  margin: 0 2px 2px 0px;
  height: 30px;
  width: 30px;
}


/* Posts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 3px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: darkGrey;
    text-decoration: none;
  }
}

.profile-img {
  height: 20px;
  width: 20px;
  border-radius: 3px 3px 3px 3px;
}

.navbar {
  background-color: red;
}

.navbar .container {
  height: 50px;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Debug */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}